---
import Layout from "../layouts/Layout.astro";
import Header from "../components/organisms/Header.astro";
import Hero from "../components/organisms/Hero.astro";
import Features from "../components/organisms/Features.astro";
import Welcome from "../components/organisms/Welcome.astro";
import Formulas from "../components/organisms/Formulas.astro";
import Inscription from "../components/organisms/Inscription.astro";
import Reviews from "../components/organisms/Reviews.astro";
import Zone from "../components/organisms/Zone.astro";
import Faq from "../components/organisms/Faq.astro";
import Contact from "../components/organisms/Contact.astro";
import Footer from "../components/organisms/Footer.astro";
---

<Layout>
  <span id="top"></span>
  <Header />
  <Hero />
  <Features />
  <Welcome />
  <Formulas />
  <Inscription />
  <Reviews />
  <Zone />
  <Faq />
  <Contact />
  <Footer />
</Layout>
